<div class="promotion-main type4">
  <!-- 부캐릭터 버추얼 공간 페이지 -->
  <div class="promotion-vr">
      <h2 class="blind">부캐릭터 버추얼 공간</h2>
      <a href="/" class="btn-prev"><svg xmlns="http://www.w3.org/2000/svg" width="20.001" height="36"><path d="M18.001 36a2 2 0 0 1-1.414-.586L5.67 24.5.587 19.417a2 2 0 0 1 0-2.828L13.656 3.52 16.587.589a2 2 0 0 1 2.828 0 2 2 0 0 1 0 2.828L4.829 18l14.586 14.586a2 2 0 0 1 0 2.828 2 2 0 0 1-1.414.586" fill="#fff" fill-rule="evenodd"/></svg> 돌아가기</a>

      <div class="promotion-vr-box">
          <ul class="promotion-vr-list">
              <!--[D] 클릭시 on클래스 추가-->
              <li class="promotion-vr-item profile"><span class="blind">profile</span></li>
              <li class="promotion-vr-item location"><span class="blind">saeul</span></li>
              <li class="promotion-vr-item item"><span class="blind">item</span></li>
          </ul>
      </div>
      <!--[D] 부캐릭터 모델링 3D 파일 -->
      <div #target style="position:absolute;top:0;left:0;bottom:0;right:0;background: rgba(19, 67, 144, 0.5);"></div>
  </div>
  <!-- //부캐릭터 버추얼 공간 페이지 -->
</div>