<h1 class="t-1">
  <span class="blind">부캐전성시대</span>
</h1>
<h2 class="t-2">
  <span class="blind">2021년 9월 27일 9시 페르소나 행성에서 5종족 부캐들이 온다!</span>
</h2>

<div class="video-box">
  <video controls width="100%" preload="auto" src="../../../../../assets/video/intro.mp4" type="video/mp4" autoplay loop>
  </video>
</div>
<div class="t-3">
  <span class="blind">새울시? 부르구? 사구팔구? 웃기구? 봐달라구? 나누구?</span>
</div>
<div class="t-4">
  <span class="blind">
      국내 최초 부캐, 마미손!
      그가 사는 별, 페르소나 행성의 5종족 부캐들이 이야기하는
      언리얼 버라이어티 예능이 시작된다.
      장르분물 다양한 부캐들이 힘든 팬데믹 시대에
      행복과 희망의 메세지를 전달하러 온다.
  </span>
</div>
<div class="bottom-intro">
  <h3 class="t-5"><span class="blind">2021년 9월 27일 9시 첫방송</span></h3>
  <div class="b-box">
      <ul class="b-list">
          <li>
              <span class="icon"></span>
              <span class="icon2"><span class="blind">
                  mnet
              </span></span>
          </li>
          <li>
              <span class="icon3"></span>
              <span class="icon4"><span class="blind">
                  youtube 부캐유니버스
              </span></span>
          </li>
      </ul>
  </div>
  <span class="i-p"></span>
</div>