<div class="card-box">
  <ul class="card-list">
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_ahonechu.png" alt="아원츄"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_jackyeye.png" alt="재키아이"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_youngsoon.png" alt="영순이"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_backsungsoo.png" alt="백성수"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_momson.png" alt="마미손"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_anyzoo.png" alt="아니쥬"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_rarrar.png" alt="랄랄"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_disco.png" alt="디스코"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_leetaelee.png" alt="리태리"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_partyranger.png" alt="파티레인저"></a></li>
      <li class="card-item"><a href="/subcharacters/songhae" class="card-link"><img src="../../../../../assets/images/promotion/img_flecsong.png" alt="플렉숑"></a></li>
  </ul>
</div>
<!--[D] 반대 방향으로 애니메이션 줄 경우 : reverse 추가-->
<div class="card-box reverse">
  <ul class="card-list">
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_ahonechu.png" alt="아원츄"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_jackyeye.png" alt="재키아이"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_youngsoon.png" alt="영순이"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_backsungsoo.png" alt="백성수"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_momson.png" alt="마미손"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_anyzoo.png" alt="아니쥬"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_rarrar.png" alt="랄랄"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_disco.png" alt="디스코"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_leetaelee.png" alt="리태리"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_partyranger.png" alt="파티레인저"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_flecsong.png" alt="플렉숑"></a></li>
  </ul>
</div>
<div class="card-box">
  <ul class="card-list">
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_ahonechu.png" alt="아원츄"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_jackyeye.png" alt="재키아이"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_youngsoon.png" alt="영순이"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_backsungsoo.png" alt="백성수"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_momson.png" alt="마미손"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_anyzoo.png" alt="아니쥬"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_rarrar.png" alt="랄랄"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_disco.png" alt="디스코"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_leetaelee.png" alt="리태리"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_partyranger.png" alt="파티레인저"></a></li>
      <li class="card-item"><a href="/" target="_blank" class="card-link"><img src="../../../../../assets/images/promotion/img_flecsong.png" alt="플렉숑"></a></li>
  </ul>
</div>