<div class="promotion-main type3">
    <div class="promotion-planet">
        <!--[D] PC형일 때만 노출-->
        <div class="promotion-planet-wrap">
            <h2 class="title"><span class="blind">PERSONA PLANET</span></h2>
            <div class="text">
                지구와 평행하게 존재하는 행성 페르소나<br> 육각형의 모듈로 이루어진 공간 속에서<br> 페르소나 별의 도플갱어들이 살아간다.
            </div>

            <h2 class="title2"><span class="blind">HEXAGON SPACE</span></h2>
                <div class="text">
                    지구와 평행하게 존재하는 행성 페르소나<br> 육각형의 모듈로 이루어진 공간 속에서<br> 페르소나 별의 도플갱어들이 살아간다.
                </div>
        </div>
        <!--[D] MO형일 때만 노출-->
        <div class="promotion-planet-wrap-mo">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="../../../../../assets/images/promotion_mo/title-hexa.png" alt="PERSONA PLANET 지구와 평행하게 존재하는 행성 페르소나 육각형의 모듈로 이루어진 공간 속에서 페르소나 별의 도플갱어들이 살아간다."></div>
                    <div class="swiper-slide"><img src="../../../../../assets/images/promotion_mo/title-persona.png" alt="HEXAGON SPACE 지구와 평행하게 존재하는 행성 페르소나 육각형의 모듈로 이루어진 공간 속에서 페르소나 별의 도플갱어들이 살아간다."></div>
                </div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>
